import boto3
import json
import os

_bedrock = boto3.client("bedrock-runtime", region_name=os.environ["AWS_REGION"])


def embed(texts: list[str], model_id: str = "amazon.titan-embed-text-v2:0") -> list[list[float]]:
    vectors = []
    for t in texts:
        resp = _bedrock.invoke_model(modelId=model_id, body=json.dumps({"inputText": t}))
        vectors.append(json.loads(resp["body"].read())["embedding"])
    return vectors
