import cohere
import os

_client = cohere.ClientV2(os.environ["COHERE_API_KEY"])

_MODEL = "embed-english-v3.0"
_DIMENSIONS = 1024


def embed(texts: list[str], model: str = _MODEL) -> list[list[float]]:
    resp = _client.embed(texts=texts, model=model, input_type="search_document", embedding_types=["float"])
    return resp.embeddings.float


def embed_query(text: str) -> list[float]:
    resp = _client.embed(texts=[text], model=_MODEL, input_type="search_query", embedding_types=["float"])
    return resp.embeddings.float[0]
