import boto3
import os

_s3 = boto3.client("s3", region_name=os.environ["AWS_REGION"])


def upload_document(bucket: str, key: str, data: bytes) -> str:
    _s3.put_object(Bucket=bucket, Key=key, Body=data)
    return f"s3://{bucket}/{key}"
