from google.cloud import storage


_client = storage.Client()


def upload_document(bucket: str, blob_name: str, data: bytes) -> str:
    blob = _client.bucket(bucket).blob(blob_name)
    blob.upload_from_string(data)
    return f"gs://{bucket}/{blob_name}"
